<main class="container">	
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top colorHead"> 
		<a routerLink="/soman" class="navbar-brand" href="#">SOMAN</a>
    <!--a class="nav-link" routerLink="/search/Article" href="#">Article <span class="sr-only">(current)</span></a>
		<a class="nav-link" routerLink="/search/User" href="#">User <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/search/Category" href="#">Category <span class="sr-only">(current)</span></a -->
  </nav>
  <div class="row">
      <router-outlet></router-outlet>
  </div> 
  
</main>
