<div *ngIf="(dataontologia)?.length > 0" >
	<div class="list-group">
	  <div class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Detalle</h5>
	      <small class="text-muted"></small>
	    </div>
	    <div class="justificar" *ngFor="let onto of dataontologia;let last = last;let first = first;">
	    	<small *ngIf="first"><b>{{onto.Id}}:</b>{{onto.Value}}</small>
	    	<small *ngIf="showItems && !first"  class="text-muted"><b>{{onto.Id}}:</b>{{onto.Value}}</small>
	    	<small (click)="show()" *ngIf="first && showItems==false " style="cursor: pointer;"  class="text-muted"><br>Ver mas ...</small>
	    	<small (click)="hide()" *ngIf="showItems && last" style="cursor: pointer;"  class="text-muted"><br>Ver menos ...</small>
	    </div>
	  </div>
	</div>
</div>

