<div class="row">
	<div *ngFor="let cat of category" class="col-sm-4">
		
		<div class="card text-center">
		  <div class="card-header">
		    {{cat.Name}}
		  </div>
		  <div class="card-block">
		    <h4 class="card-title">Detalles</h4>
		    <p class="card-text">{{cat.Description}}</p>
		    <a href="#" class="btn btn-primary">Ver</a>
		  </div>
		  <div class="card-footer text-muted">
		    {{cat.CreatedAt}}
		  </div>
		</div>  
	</div>
</div>

<!-- div *ngFor="let onto of ontologia.isDescribedBy" class="col-sm-4">
		
			<div class="card text-center">
			  <div class="card-header">
			    {{onto.Id}}
			  </div>
			  <div class="card-block">
			    <h4 class="card-title">Detalles</h4>
			    <p class="card-text">{{onto.Text}}</p>
			    <a href="#" class="btn btn-primary">Ver</a>
			  </div>
			  <div class="card-footer text-muted">
			    {{onto.Tipo}}
			  </div>
			</div>  
		</div -->