<div class="container" >
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top colorHead"> 
			<div *ngFor="let menu of menuItems">
				<a class="nav-link" style="color: wheat;" routerLink="/search/{{menu}}" href="#">{{menu}} <span class="sr-only">(current)</span></a>
			</div>
			
		</nav>
		<div class="row">
				<div class="col-12">
						<h4><b>SOMAN ONTOLIGY</b></h4>
				</div>poweroff
				
				<div class="col-2">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">Active</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="#">Disabled</a>
							</li>
						</ul>
				</div>
				<div class="col-10">
					dsad
				</div>

		</div>
		

</div>